In [5]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

In [6]:
fichierxml=os.getcwd()+'/EXEMPLE4_0/fichiers_source/ticketsseuls.xml'

In [7]:
tree = ET.parse(fichierxml)
root = tree.getroot()

In [13]:
ticket_items=[]
all_tickets_items=[]
line_items=[]
all_line_items=[]

In [14]:
for ticketno in root.iter('ticket'):
    
    ticketNo = ticketno.find('code').text
    ticketOperation = ticketno.find('operation').text
    ticketCaisse = ticketno.find('caisse').text
    ticketDate = ticketno.find('date').text
    ticketTTC = ticketno.find('totalTTC').text
    ticketHT = ticketno.find('totalHT').text
    
    for lineno in ticketno.iter('ligne'):
        ligneNo = lineno.attrib.get('id')
        ligneProduit = lineno.find('produitId').text
        lignedesignation = lineno.find('designation').text
        ligneQuantite = lineno.find('quantite').text
        ligneTauxtva = lineno.find('tauxTVA').text
        ligneTotalTTC = lineno.find('totalTTC').text
        ligneTotalHT = lineno.find('totalHT').text
        line_items = [ticketNo, ticketOperation, ticketCaisse, ticketDate, ticketTTC, ticketHT, ligneProduit, lignedesignation, \
                      ligneQuantite, ligneTotalHT, ligneTotalTTC]
        all_line_items.append(line_items)
  
    tickets_items = [ticketNo, ticketOperation, ticketCaisse, ticketDate, ticketTTC, ticketHT]
    all_tickets_items.append(tickets_items)

In [15]:
lineDf = pd.DataFrame(all_line_items, columns=['Noticket', 'Operation', 'Caisse', 'Date', 'TicketTTC', 'TicketHT', \
                                               'Produit','Désignation','Quantite','LigneHT','LigneTTC'])

In [16]:
ticketDf = pd.DataFrame(all_tickets_items, columns=[
  'NoTicket',  'Operation', 'Caisse', 'Date', 'TicketTTC', 'TicketHT'])

In [17]:
lineDf

      Noticket Noligne Produit Quantite TauxTVA TotalTTC
0            1      11      27        1    1000     1800
1            2      34     102        1    1000      280
2            3      35      14        1    2000     6700
3            3      36      14        1    2000     6700
4            4      37       9        1    2000     4700
...        ...     ...     ...      ...     ...      ...
42064    14492   55320     361        1    2000      950
42065    14493   55456       6        1    1000     1000
42066    14493   55457       6        1    1000     1000
42067    14493   55458       6        1    1000     1000
42068    14493   55459       6        1    1000     1000

[42069 rows x 6 columns]

In [2]:
all_items

[['ananas', 'banane']]